
/* Navigation */

#navigation {
  display: none;
  background-color:rgba(27, 28, 29, 1);
  height: 70px;
}

.logo {
  margin: -10px 0;
}
.nav {
  li {
    text-align: right;
    padding: 10px 0 0 0;
    font-family: 'Arvo', cursive;
    color: $primary-color;
    cursor: pointer;
  }
  li:hover {
    color: $secondary-color;
  }
}


.nav .active{
  color: $secondary-color;
}